body{
    background-color: rgb(34, 34, 34);
}

h1, h2, h3, a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;


    
}

.div-1{
    background: linear-gradient(315deg, #ffbc00 , #ff0058);
    text-align: center;

    width: 300px ;
    height: 400px ;
    min-width: 10;
    min-height: 0;
    top: 1px;
    right: 10px;
    left: 10px;
    overflow: hidden;
    border-radius: 15px;
    margin-right: 15px; /* Modifie ici pour ecrater */
    margin-left: 15px; 
    filter: drop-shadow(0 0 0.75rem crimson);
    transition: 1s;

}
.div-1:hover{
    width: 320px ;
    height: 420px ;
    transition: 1s;
}



.bouton{
    background: white;
    color: black;
    border-radius: 25px;
    width: 150px ;
    height: 30px ;
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 10px;
    letter-spacing:2px;
    transition: 0.5s;
    padding-top: 9px;
}
.bouton:hover{
    background: rgb(168, 168, 168);
    transition: 0.5s;
    
}

.container .box{
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    display: table-cell;

    }
    